[submodule "src/Friflo.Engine.ECS"]
	path = src/Friflo.Engine.ECS
	url = git@github.com:readycodeio/Friflo.Engine.ECS.git
[submodule "src/LiteNetLib"]
	path = src/LiteNetLib
	url = https://github.com/RevenantX/LiteNetLib.git
